<% layout('/../layouts/scripts/layout') -%>
<% script('/socket.io/socket.io.js') -%>
<% script('/javascripts/vendor/jquery.js') -%>
<% script('/javascripts/app/com/projet/index/index.js') -%>
<% stylesheet('stylesheets/style.css') -%>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<ul id="listeCompte">
    <li>
        ...
    </li>
</ul>

<p>
    
    Date Derniere mise à jour : <%= title %>
    
</p>
